@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');
:root{
    --background:#fcfffd;
    --accent:#06ba63;
}

body{
    margin: 0;
    background-color: var(--background);
    font-family: 'Caudex', serif;
    min-height: 100vh;
    

}
.header{
    background-color: var(--accent);
    color: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.input-group{
    margin:1rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}
input{
    margin: 1rem;
    border-radius: 1rem;
    border:1px solid var(--accent);
    padding: 1rem;
    width: 300px;
    font-family: 'Caudex', serif;
    
}

input:focus{

    border: 2px solid var(--accent);
}

label{
   
    font-weight: bold;
    color: darkslategray;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid var(--accent);
    background-color: var(--background);
    color: darkslategray;
    font-weight: 600;
    font-family: 'Caudex', serif;
}
button:hover{
    background-color: var(--accent);
    color: var(--background);
    transition: .5s;
    cursor:pointer
}


.output{
    display: flex;
    justify-content: center;
    color: darkslategray;
    font-weight: 600;
    font-size: large;
}
.out-loss{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 600;
    font-size: large;
    transition: .5s;
    margin: 2rem;
}
.out-profit{
    display: flex;
    justify-content: center;
    color: var(--accent);
    font-weight: 600;
    font-size: large;
    transition: .5s;
}
.footer{
    background-color: var(--accent);
   position: fixed;
   top: calc(100vh-40px);
   width: 100%;
   bottom: 0;

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}
li{
    margin: 1rem;
   font-weight: 700;

   
}
a{
    color: var(--background);
    text-decoration: none;
    font-size: 26px;
}
